<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS App</title>
</head>
<body>
    <h1>user form</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="enter your name " >

        <input type="phone" name="phone" placeholder="enter your phone no">

        <button>Add User</button>
    </form>


    <!-- % %  -->

    <h2>all users</h2>

    <% users.forEach(user => { %>
        <div>
           <h3><%= user.name %></h3> 
           <p>Age : <%= user.phone %></p>
        </div>
    <% }) %>



</body>
</html>